footer {
  background: rgba(1, 3, 16, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  padding: 16px 80px;
  border-top: 1px solid rgba(61, 139, 255, 0.65);
  box-shadow: -2px -2px 8px 4px rgba(61, 139, 255, 0.43);
}

footer p {
  color: white;
}

footer ul {
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 1200px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  footer ul {
    padding: 16px 40px;
  }
}

/* MOBILE CUTOFF */

@media (max-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  footer ul {
    padding: 16px 40px;
    white-space: nowrap;
  }

  footer ul {
    list-style: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}
