* {
  padding: 0;
  margin: 0;
  /*border: 1px solid rgb(139, 32, 32); */
}

body {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background: rgba(1, 3, 16, 0.5);
  z-index: 1;
  position: relative;
  border-bottom: 1px solid rgba(61, 139, 255, 0.65);
  box-shadow: 0px 2px 8px rgba(61, 139, 255, 0.43);
  padding: 16px 80px;
  /* padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0; */
}

.logo {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  color: white;
  text-decoration: none;
  font-family: "Goldman";
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
}

.logo span {
  font-weight: 400;
}

.logo:hover {
  color: rgb(64, 166, 255);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px;
  gap: 8rem;
}

.navlinks a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.navlinks {
  width: 55%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  gap: 4rem;
}

header label,
#menu-checkbox {
  display: none;
}

.navlinks,
.icons,
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  background-color: white;
  display: flex;
  align-items: center;
  height: 32px;
  width: fit-content;
  padding: 0 8px;
  border-radius: 8px;
}

.searchbar input {
  border: none;
}

.icons {
  list-style: none;
}

.icons svg {
  fill: white;
  width: 32px;
  height: 32px;
  padding: 0px 8px;
  transition: 0.5s;
}

.navlinks a:hover {
  color: rgb(64, 166, 255);
}

.icons svg:hover {
  fill: rgb(64, 166, 255);
}
