/* MEDIA CUTOFF */

@media (max-width: 1200px) {
  header {
    position: relative;
    padding: 20px 10px;
  }

  .icons {
    display: flex;
    margin-right: 3rem;
  }

  .searchbar {
    display: none;
  }

  nav {
    gap: 2rem;
  }

  .gamecontainer {
    margin: 164px auto;
    flex-direction: column;
  }

  .ernews {
    width: 100%;
  }

  .sale-games img {
    border-radius: 12px;
    max-width: 100%;
  }

  .bloodbornetitle {
    display: flex;
    color: white;
    font-weight: bold;
    margin: 8px 0px;
    font-size: 24px;
    letter-spacing: 0.1rem;
  }

  .browse-games {
    font-size: 2rem;
    margin: 2rem;
    margin-left: 10px;
    position: relative;
    min-width: 0px;
  }

  .er-showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .er-showcase img {
    width: 100%;
    position: relative;
    z-index: 0;
    margin: 0;
  }

  .productpage .newscontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1;
    width: 600px;
    height: 360px;
    min-width: 0px;
    position: relative;
    z-index: 1;
    border-radius: 0;
    margin: 184px 0 0 0px;

    background: none;
  }

  .product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: fit-content;
    height: fit-content;
    left: auto;
    margin: 24px;
    background: rgba(9, 58, 107, 0.5);
    padding: 34px 34px;
    border-radius: 12px;
    font-size: 1.4rem;
  }

  .product-container p,
  .product-container h1 {
    color: white;
    margin-left: 0;
    padding: 16px 16px;
  }

  .product-container .atcbutton {
    margin: 34px 0px;
  }

  .about-container h1,
  .aboutus-desc-container,
  .map-section {
    position: relative;
  }

  .about-container h1 {
    left: 0;
    margin: auto;
    width: fit-content;
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 0px 0px 12px rgba(31, 100, 138, 0.7);
  }

  .aboutus-desc-container {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    left: 0;
    top: 40px;
    background: rgba(9, 58, 107, 0.5);
    padding: 34px 34px;
    border-radius: 12px;
    font-size: 1.4rem;
  }

  .aboutus-desc-container p {
    box-sizing: border-box;
    color: white;
    padding: 20px 12px;
    letter-spacing: 0.1rem;
  }

  .aboutus-desc-container div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-container h1 {
    top: 50px;
  }

  .aboutus-desc-container {
    top: 80px;
  }

  .map-section {
    margin: 7rem 0;
    justify-content: center;
    width: fit-content;
  }

  .map-section h2 {
    min-width: 200px;
  }

  .checkout-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .main-contact h1 {
    margin-top: 50px;
    font-size: 2.6rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

  .contact-container {
    width: fit-content;
    height: fit-content;
    margin: 0;
    background: #f7fafc;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 0.7rem;
  }

  .media-icons {
    width: fit-content;
    padding: 0;
    margin: 0;
  }
}

/* MOBILE CUTOFF */

@media (max-width: 768px) {
  header {
    position: relative;
    padding: 20px 10px;
  }

  .icons {
    display: none;
  }

  nav {
    padding: 0;
  }

  .navlinks {
    display: none;
    padding: 34px 10px;
    z-index: 9;
  }

  #menu-checkbox:checked ~ .navlinks {
    display: block;
    position: absolute;
    background-color: black;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .navlinks li {
    margin-bottom: 2rem;
  }

  header label {
    display: block;
    color: white;
    font-size: 1.5rem;
  }

  .newscontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1;
    width: 100%;
    height: 460px;
    min-width: 0px;
    position: relative;
    z-index: 1;
    border-radius: 0;
    margin: 184px 0 0 0px;

    background: none;
  }

  .h2sale {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 0px 0px 12px rgba(31, 100, 138, 0.7);
    margin: 36px 0;
    position: relative;
  }

  .bloodbornetitle {
    display: flex;
    color: white;
    font-weight: bold;
    margin: 8px 0px;
    font-size: 24px;
    letter-spacing: 0.1rem;
  }

  .gamecontainer {
    gap: 2rem;
    width: fit-content;
    border-radius: 12px;
    padding: 24px;
    margin: 36px 0px;
    background: rgba(65, 147, 223, 0.2);
  }

  .sale-games {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin: 0;
  }

  .productpage .newscontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1;
    width: 100%;
    height: 360px;
    min-width: 0px;
    position: relative;
    z-index: 1;
    border-radius: 0;
    margin: 184px 0 0 0px;

    background: none;
  }

  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }

  .product-container p {
    letter-spacing: 0.1rem;
    max-width: 600px;
    margin-top: 0;
    font-size: 1rem;
  }

  .product-container p,
  .product-container h1 {
    color: white;
    margin-left: 0;
    padding: 16px 16px;
  }

  .product-container .atcbutton {
    margin: 34px 0px;
  }

  .result-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-radius: 78px;
    padding: 4rem;
    margin: 64px 12px;
    background: rgba(65, 147, 223, 0.2);
  }

  .checkout-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    background: #f7fafc;
    padding: 16px 24px;
    border-radius: 12px;
  }

  .main-checkout h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 12%;
    margin-left: 34%;
    font-size: 2.6rem;
  }

  .account-details .input-field input,
  .payment-input {
    height: 45px;
    max-width: 300px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding-left: 16px;
    background: rgba(226, 232, 240, 1);
  }

  .confirm-container {
    margin: 30px 0px 30px;
    padding: 24px 0px 0px 0px;
    border-radius: 8px;
  }

  .confirm-container img {
    width: 300px;
    padding: 24px;
    border-radius: 48px;
  }
  .confirm-container svg {
    display: none;
  }

  .confirm-container p.subtot,
  .confirm-container p.ordertot {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
  }

  .media-icons {
    width: 200px;
    padding: 0;
    margin: 0;
  }

  .map-section h2 {
    min-width: 100px;
  }
}

@media (max-width: 400px) {
  .newscontainer svg {
    width: 200px;
    min-width: 30px;
  }

  .heart-button svg {
    fill: white;
    width: 24px;
    height: 24px;
    padding: 5px;
  }

  .newscontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1;
    width: 100%;
    height: 260px;
    min-width: 0px;
    position: relative;
    z-index: 1;
    border-radius: 0;
    margin: 184px 0 0 0px;

    background: none;
  }

  .contact-container {
    width: 300px;
    height: fit-content;
    margin: 0;
    background: #f7fafc;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 0.7rem;
  }

  .map-section img {
    width: 350px;
  }
}
