/* * {
  border: 1px solid red;
} */

body {
  background: linear-gradient(
    0deg,
    rgba(40, 102, 136, 1) 10%,
    rgba(21, 20, 36, 1) 96%
  );
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

/* spinner container */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* spinner animation */
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.imgstyle {
  border-radius: 12px;
  max-width: 600px;
}

.result-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 78px;
  padding: 4rem;
  margin: 164px 200px;
  background: rgba(65, 147, 223, 0.2);
}

.product-container-games {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  border-radius: 78px;
  padding: 4rem;
  margin: 164px auto;
  background: rgba(65, 147, 223, 0.2);
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-container img {
  height: 300px;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  transition: 0.3s ease;
}

.container:hover {
  scale: 0.95;
}

.container a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.pricing {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.txtstyle {
  color: white;
}

.txtstyle-discount {
  text-decoration: line-through;
  color: #f7fafcc5;
}

/* NEWS CONTAINER */

.ernews {
  height: auto;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;

  top: 0px;
  left: 0;
}

.newscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 600px;
  height: 560px;
  position: relative;
  z-index: 1;
  margin: 80px 200px;

  background: rgba(65, 147, 223, 0.12);
  border-radius: 78px;
}

.newscontainer h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 0px 0px 12px rgba(31, 100, 138, 0.7);
}

.newscontainer svg {
  width: 400px;
  min-width: 30px;
}

.newscontainer img {
  max-width: 80%;
}

.er-news-desc {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: none;
  text-shadow: none;
}

.er-news-desc span {
  text-transform: uppercase;
}

.news-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* SALE CONTAINER */

.h2sale {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 0px 0px 12px rgba(31, 100, 138, 0.7);
  margin: 0px 350px;
  padding-top: 20px;
  position: absolute;
}

.sale-games {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.bloodbornetitle {
  display: flex;
  color: white;
  font-weight: bold;
  margin: 8px 0px;
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
}

/* .gamecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  width: fit-content;
  border-radius: 78px;
  padding: 4rem;
  margin: 164px 200px;
  background: rgba(65, 147, 223, 0.2);
} */

.sale-games img {
  border-radius: 12px;
  max-width: 100%;
}

/* Buttons below games */

.atc-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.atc-container p {
  color: white;
  font-weight: bold;
}

/* Add to cart and heart button */

.atcbutton,
.heart-button {
  background: linear-gradient(
      277.54deg,
      rgba(58, 255, 172, 0.42) 20.8%,
      rgba(58, 255, 172, 0) 82.99%
    ),
    #18a2dd;
  box-shadow: 0px 0px 4px #0084ff;
  border-radius: 32px;
  width: fit-content;
  color: white;
  font-weight: 700;
  border: none;
  transition: 0.2s ease;
  cursor: pointer;
}

.atcbutton {
  padding: 16px 30px;
  text-transform: uppercase;
  white-space: nowrap;
}

.atcbutton:hover,
.heart-button:hover {
  background: linear-gradient(
      277.54deg,
      rgba(0, 255, 148, 0.42) 20.8%,
      rgba(58, 255, 172, 0) 82.99%
    ),
    #0cb6ff;
  box-shadow: 0px 0px 4px #56aeff;
}

.atc-container .atcbutton {
  padding: 16px 30px;
  border-radius: 32px;
  text-transform: uppercase;
}

.heart-button svg {
  fill: white;
  width: 24px;
  height: 24px;
  padding: 5px;
}

.heart-button.clicked #heart-fill {
  fill: white;
}

.heart-button {
  border-radius: 8px;
}

/* PRODUCT PAGE */

.er-showcase {
  display: flex;
}

.productpage .newscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 460px;
  position: relative;
  z-index: 1;
  margin: 10px 200px;

  background: none;
  border-radius: 78px;
}

.er-showcase img {
  margin: -64px 100px;
  position: absolute;
  z-index: 1;
}

.product-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: fit-content;
  height: 416px;
  left: 824px;
  margin: 224px 0 48px 0;
  background: rgba(9, 58, 107, 0.3);
  padding: 34px 34px;
  border-radius: 12px;
  font-size: 1.4rem;
}

.product-container p {
  letter-spacing: 0.1rem;
  max-width: 600px;
  margin-top: 3rem;
  font-size: 1rem;
}

.product-container p,
.product-container h1 {
  color: white;
  margin-left: 4rem;
}

.product-container .atcbutton {
  margin: 64px 0px;
}
/* GAMES PAGE */

.browse-games {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 0px 0px 12px rgba(31, 100, 138, 0.7);
  margin: -84px 246px;
  position: absolute;
}

.gamecontainer h2 {
  color: white;
  width: 100%;
  font-weight: bold;
  margin: 8px 0px;
  text-shadow: 0px 0px 12px rgba(31, 100, 138, 0.7);
}

.game-desc {
  color: white;
  margin: 20px 0;
}

/* CHECKOUT PAGE */

.checkout-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-checkout h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 20%;
  font-size: 2.6rem;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 50px auto 100px;
  background: #f7fafc;
  padding: 36px 126px;
  border-radius: 12px;
}

.checkout-container .title {
  font-size: 20px;
}

.checkout-container form .account-details,
.checkout-container form .payment-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .account-details .input-field,
.payment-options .input-field {
  width: 350px;
  padding: 5px 0px;
}

.account-details .input-field input,
.payment-input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  padding-left: 16px;
  background: rgba(226, 232, 240, 1);
}

.account-details .input-field .details,
.payment-options .input-field .details {
  display: block;
  margin-bottom: 5px;
}

.details {
  padding: 8px 0px;
  color: rgba(149, 149, 149, 1);
  font-size: 16px;
}

.register {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 64px;
}

.register h2 {
  font-weight: 500;
  font-size: 16px;
  color: rgba(45, 55, 72, 1);
  margin-right: 60px;
}

.register .atcbutton {
  text-transform: none;
}

.payment-input {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.payment-input img {
  padding: 10px 16px;
}

.payment-options {
  margin: 16px;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  margin: 50px auto 100px;
  background: #f7fafc;
  padding: 36px 0px 0px 0px;
  border-radius: 12px;
}

.confirm-container img {
  width: 400px;
  padding: 36px;
  border-radius: 48px;
}

.confirm-container p.subtot,
.confirm-container p.ordertot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.confirm-container p.subtot {
  color: rgba(149, 149, 149, 1);
  font-size: 16px;
  padding: 16px 36px;
}

.confirm-container p {
  padding: 0px 36px;
}

.confirm-container .confirm-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 48px 16px;
}

.confirm-container .atcbutton {
  text-transform: none;
  margin: 36px 36px;
  text-align: center;
}

.confirm-container .atcbutton svg {
  padding: 0px 4px;
}

/* CHECKOUT SUCCESS PAGE */

.checkout-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 864px;
  height: 600px;
  margin: 100px auto 30vh auto;
  background: #f7fafc;
  padding: 50px 20px;
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
}

.checkout-success h2 {
  color: rgba(90, 90, 90, 1);
  padding: 20px 0;
  font-size: 1.2rem;
}

.checkout-success .atcbutton {
  margin: 40px 0;
}

.atcbutton a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 12px rgba(31, 100, 138, 0.7);
}

/* ABOUT US PAGE */

.about-container {
  position: relative;
}

.about-container img {
  height: 100%;
  width: 100%;
}

.about-container h1 {
  position: absolute;
  width: fit-content;
  top: 300px;
  left: 300px;
  color: white;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 0px 0px 12px rgba(31, 100, 138, 0.7);
}

.aboutus-desc-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 500px;
  height: 816px;
  left: 136px;
  top: 400px;
  background: rgba(9, 58, 107, 0.5);
  padding: 34px 34px;
  border-radius: 12px;
  font-size: 1.4rem;
}

.aboutus-desc-container p {
  color: white;
  padding: 20px 12px;
  letter-spacing: 0.1rem;
}

.aboutus-desc-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-section {
  margin-right: 136px;
  margin-bottom: 14rem;
  margin-top: 4rem;
  min-width: 200px;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.map-section img {
  max-width: 400px;
}

/* CONTACT PAGE */

.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 36px;
}

.main-contact h1 {
  margin-top: 100px;
  font-size: 2.6rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 650px;
  margin: 100px auto 100px;
  background: #f7fafc;
  padding: 25px 30px;
  border-radius: 12px;
  font-size: 0.7rem;
}

.contact-container h2 {
  text-align: center;
  padding: 20px 0;
}

.account-details .input-field:nth-child(3) input {
  height: 200px;
}

.account-details .input-field textarea {
  height: 100px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 10px 16px;
  background: rgba(226, 232, 240, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.contact-container .atcbutton {
  margin: 20px 0;
  cursor: pointer;
}
